@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*================= FONTS =================

font-family: 'Lora', serif;
font-family: 'Work Sans', sans-serif;

                COLORS

Farbe: #2e2e2e / #fff / #000 / #1d2c2f 

                LINK
https://www.youtube.com/watch?v=GI71fXmRrLM

============= GENERAL STYLES ==============*/

body {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
}

h2, h3, h4 {
    font-size: 3em;
}

/*================ HEADER =================*/

header {
    background: url("../img/design-interior-1.jpg")  top right no-repeat;
    height: 90vh;
    background-size: 60%;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 6em;
    color: #000;
    margin: 35vh 0 0 12%;
    position: absolute;
}

header p {
    font-family: 'Lora', serif;
    font-size: 1.5em;
    color: #000;
    margin: 55vh 0 0 10%;
    position: absolute;
} 

/*================= MAIN ==================*/

/* NAVIGATION */
main nav {
    background: #2e2e2e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

main nav ul li {
    display: inline;
}

main nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 6.5vw;
}

nav a:hover {
    color: lightgrey;
}

/* SECTION 1 - OUR STORY */

container {
    display: flex;
    align-items: center;
    justify-content: center
}

main section:nth-of-type(1) {
    background: #2e2e2e;
}

main section:nth-of-type(1) img {
    width: 60%;
    margin: 15vh 0;
}

h2 {
    font-family: 'Lora', serif;
}

main section:nth-of-type(1) p {
    font-size: 1em;
    display: inline;
    width: 40%;
    word-spacing:1em;
    line-height: 2em;
}

/* SECTION 2 - FEATURED */

main section:nth-of-type(2) {
    color: #000;
}

h3 {
    font-family: 'Lora', serif;
    text-align: center;
    margin: 30vh 0 0 0; 
}

main section:nth-of-type(2) p {
    text-align: left;
    margin: 3vh 0 20vh 30%; 
    width: 40vw;
    word-spacing: 1vw;
    line-height: 2.5em; 
}

/* IMAGES */

main section:nth-of-type(2) img {
    width: 30%;
}

main section:nth-of-type(2) div:nth-of-type(1) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: -5vh 0 0 0;
}

/* IMAGES BY */
main section:nth-of-type(2) div:nth-of-type(2) {
    font-size: 1.2em;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

main section:nth-of-type(2) span {
    display: inline;
    align-items: center;
    text-align: center;
    color: grey;
    word-spacing: 0.5em; 
}

main section:nth-of-type(2) span:nth-of-type(2) {
    display: inline;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 5% 10vh 5%;
}

/* YOUTUBE VID */
iframe {
    margin: 0 33% 15vh; 
}

/* SECTION 3 - GET IN TOUCH */

main section:nth-of-type(3) {
    background: #2e2e2e;
    display: flex;
}

h4 {
    font-family: 'Lora', serif;
}

main section:nth-of-type(3) p {
    width: 75%;
    line-height:2em;
    margin: 5vh 0 0 0;
    display: block;
    word-spacing: 1em;
}

main section:nth-of-type(3) div:nth-of-type(1) {
    margin: 25vh 0 0 10%;
}

main section:nth-of-type(3) div:nth-of-type(2) {
    width: 50%;
    margin: 25vh 10%;
}

label {
    font-family: 'Lora', serif;
    font-size: 1.5em;
}

/* EINGABEFELDER */
input[type="text"],
input[type="email"] {
    padding: 1vh 40%;
    display: block;
    margin: 0 0 5vh 0;
}

/* SUBMIT */
main section:nth-of-type(3) a {
    background: #fff;
    color: #000;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

/*================ FOOTER =================*/
footer {
    background: #1d2c2f;
    font-family: 'Lora', serif;
    padding: 4vh;
    display: flex;
    justify-content: space-between;
}

footer ul {
    display: inline;
}

footer ul li {
    display: inline;
    margin: 0 1vw;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: lightgrey;
}
/*============ MEDIA QUERIES ==============*/

@media only screen and (max-width: 600px) {

    /* HEADER */
    header {
        width: 100%;
        background-size: 100%;
    }

    h1 {
        margin: 60vh 25%;
    }

    header p {
        margin: 75vh 20%;
    }

    /* MAIN */
    main nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* NAV */
    main nav a {
        margin: 0 1vw;
    }

    /* SECTION 1 */
    main section:nth-of-type(1) img {
        width: 100%;
    }

    /* SECTION 2 */
    main section:nth-of-type(2) span {
        word-spacing: 0; 
        font-size: 0.5em;
    }

    /* YOUTUBE VID */
    iframe {
        width: 100%;
        margin: 0 ;
    }

    /* SECTION 3*/
    main section:nth-of-type(3) {
        display: inline-block;
        width: 100%;
    }
}